<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <input type="text" [(ngModel)]="name">
      <p>{{name}}</p>

      <hr>

      <app-server></app-server>
      <app-servers></app-servers>
      <!--<div app-servers></div>-->
      <!--<div class="app-servers"></div>-->

      <h3>Shit happens</h3>

      <app-warningAlert></app-warningAlert>
      <app-successAlert></app-successAlert>
      <app-one></app-one>
      <app-two></app-two>
      <app-three></app-three>
    </div>
  </div>
</div>
